.about-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #2b2b3f;
  border-radius: 10px;
  color: #f5f5f5;
  font-family: "Pip-Boy", monospace;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #1890ff;
  }

  p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 1.5rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}
